.button{
    background-color: yellowgreen;
    text-align: center;
    font-weight: bolder;
    
}
button{
    display:table-row-group;
}
body{
    color: yellowgreen;
    background-color: black;
}
h1{
    font-weight: bolder;
    font-size: 2cm;
    text-align: center;
    background:rgb(25, 54, 18);
}
h2{
    font-size: 1cm;
    background: rgb(25, 54, 18);
}
hr{
    height: 0.2em;
    background: yellowgreen;
}
html{
    text-align: center;
    
}
h3{
    font-size: 0.5cm;
}
h4{
    font-size: 0.25cm;
}